/* =BASE */

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font: 14px/1.4 -apple-system, sans-serif;
  margin: 0;
  overflow-y: scroll;
  color: hsl(240, 8%, 87%);
  -webkit-text-size-adjust: 100%;
  background: hsl(240, 8%, 13%);
  height: 100%;
}

.body--no-bottom {
  padding-bottom: 0;
}

@media (min-width: 1025px) {
  body {
    background: hsl(0,0%,5%);
  }
}

.body--sheet {
  background: hsl(240, 8%, 13%);
}

a {
  color: hsl(190, 80%, 70%);
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

@media (min-width: 1025px) {
  .mobile {
    display: none;
  }
}

/* =PAGE */

/* HEADER */

.header {
  display: table;
  width: 100%;
  margin-top: -5px;
  padding-left: 30px;
  margin-left: -30px;
  width: 110%;
  font-size: 16px;
  font-weight: bold;
  background: hsl(240,8%,18%);
  box-shadow: inset 0 -2px 2px hsl(240,8%,11%);
}

@media (min-width: 1025px) {
  .header {
    margin-top: -10px;
    padding-left: 0;
  }
}

.header__home-cell {
  display: table-cell;
  width: 1px;
}

.header__home-link {
  color: hsl(240, 8%, 67%);
  padding: 10px 20px;
  display: inline-block;
}

.header__home-link--accompanied {
  box-shadow: inset -2px 0 3px hsla(240,8%,7%, .3);
}

.header__forum-cell {
  display: table-cell;
  text-transform: none;
  background: hsl(240,8%,21%);
  box-shadow: inset -3px -2px 2px hsl(240,8%,11%); /* 3px to the left to hide the shadow so it doesn't clash with .header__home-link--accompanied's shadow */
  white-space: nowrap;
}

.header__forum-link {
  color: hsl(240, 8%, 70%);
  padding: 10px 20px;
  display: inline-block;
}

@media (MAX-width: 399px) {
  .header__home-link--accompanied,
  .header__forum-link {
    padding: 10px 13px;
  }
}

/* SHEET */

.sheet {
  background: hsl(240, 8%, 13%);
  padding: 5px 0 10px;
  position: relative;
  overflow: hidden;
}

.body--no-bottom .sheet {
  padding-bottom: 0;
}

.sheet--nothing-over {
  border-width: 0;
  padding-top: 0;
}

@media (min-width: 1025px) {
  .sheet {
    margin: auto;
    max-width: 1440px;
    padding: 10px 30px 14px;
    min-height: 100%;
    box-shadow: 0 0 20px hsl(0, 0%, 0%);
  }

  .body--no-bottom .sheet {
    padding-bottom: 14px;
  }

  .sheet--nothing-over {
    border-width: 0;
    padding-top: 0;
  }
}

@media (min-width: 1025px) {
  .sheet > .content {
    width: calc(80% - 15px);
    margin-right: 15px;
    float: left;
  }

  .sheet > .content.no-menu {
    width: initial;
    margin-right: initial;
    float: initial;
  }
}

/* TITLE */

.page-title {
  font-size: 21px;
  margin: 10px 8px 0;
  position: relative;
  word-wrap: break-word;
}

.page-title--larger {
  font-size: 24px;
}

@media (min-width: 400px) {
  .page-title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
  }

  .page-title--larger {
    font-size: 27px;
  }
}

@media (min-width: 1025px) {
  .page-title {
    margin-left: 0;
    margin-right: 0;
    font-size: 29px;
  }

  .page-title--larger {
    font-size: 32px;
  }
}

.page-title__link {
  display: inline-block;
  padding: 10px;
  margin: -10px;
}

.page-title__link,
.page-title--topic {
  color: hsl(240, 8%, 67%);
}

/* ASIDE */

.aside {
  display: none;
}

@media (min-width: 1025px) {
  .aside {
    display: block;
    width: 20%;
    float: left;
    margin: 10px 0;
  }
}

.aside__moderation-actions {
  text-align: right;
  margin: 10px 0;
}

.aside__top-buttons {
  display: table;
  margin: 0 0 12px 15px;
  width: 100%;
  width: -webkit-calc(100% - 15px);
  width:         calc(100% - 15px);
}

.aside__top-button {
  display: table-cell;
  background: top no-repeat;
  width: 100px;
  height: 42px;
  cursor: pointer;
  position: relative;
}

.aside__top-button--open-jeuxvideocom {
  background-image: url(/images/open-jeuxvideocom.2.svg);
}

.aside__top-button--favorite {
  background-image: url(/images/add-to-favorites.2.svg);
}

.aside__top-button--unfavorite {
  background-image: url(/images/remove-from-favorites.svg);
}

.aside__top-button-label {
  display: block;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: hsl(240, 8%, 73%);
}

.aside__menu {
  margin: 0 0 15px 15px;
}

.slider.sliding {
  position: fixed;
  top: 15px;
  max-height: 90%;
  max-height: -webkit-calc(100% - 30px);
  max-height:         calc(100% - 30px);
  overflow-y: auto;
}

/* MOBILE MENU */

.mobile-menu {
  position: absolute;
  top: 0;
  right: -10px;
}

@media (min-width: 1025px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__opener {
  width: 55px;
  height: 55px;
  cursor: pointer;
  margin: -10px 0;
  vertical-align: middle;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.mobile-menu__opener-icon {
  background: url(/images/more_vert_title.svg) center no-repeat;
  width: 24px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 5px;
}

.mobile-menu--opened .mobile-menu__opener-icon {
  background-color: hsl(240, 8%, 20%);
  border-radius: 3px;
}

.mobile-menu__items {
  display: none;
  position: absolute;
  width: 200px;
  right: 5px;
  top: 40px;
  background: hsl(240, 8%, 20%);
  box-shadow: 0 2px 20px rgba(0,0,0,.5);
  border-radius: 2px;
  z-index: 1;
}

.mobile-menu--opened .mobile-menu__items {
  display: block;
}

.mobile-menu__item {
  font-size: 16px;
  font-weight: normal;
  color: hsl(240, 8%, 87%);
  display: block;
  padding: 10px 12px;
  cursor: pointer;
}

/* MENU */

.menu {
  margin: 15px 10px;
  background: hsl(240, 8%, 27%);
  padding: 2px 0;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1),
              0 2px 5px hsla(0, 0%, 0%, .35);
}

.aside .menu {
  background: hsl(240, 8%, 23%);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .125),
              0 2px 5px hsla(0, 0%, 0%, .25);
}

@media (min-width: 1025px) {
  .menu {
    margin: 15px 0;
  }
}

.menu__item {
  display: block;
  color: hsl(240, 8%, 87%);
  text-shadow: 0 1px 1px hsl(240, 8%, 0%);
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 13px 10px;
}

.aside .menu__item {
  color: hsl(240, 8%, 80%);
}

@media (min-width: 1025px) {
  .menu__item {
    padding: 6px 10px;
  }
}

.menu__item + .menu__item {
  border-top: 1px solid hsl(240, 8%, 22%);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .06);
}

.aside .menu__item + .menu__item {
  border-top: 1px solid hsl(240, 8%, 17%);
}

.menu__item:hover {
  background: hsl(240, 8%, 40%);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .12);
}

.menu__item--blank-state {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  color: hsl(214, 27%, 7%);
  cursor: default;
}

.menu__item--blank-state:hover {
  background: transparent;
}

/* =BUTTONS */

.button {
  font-weight: bold;
  font-size: 14.4px;
  padding: 5px 8px;
  border-radius: 3px;
  letter-spacing: .5px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; /* text input */
  border: none; /* text input */
  background: transparent; /* text input */
  outline: none;
  white-space: nowrap;
  color: hsl(190, 80%, 70%);
}


.button--raised {
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  background: hsl(240, 8%, 20%);
}

.button--raised:active {
  box-shadow: inset 0 2px 5px rgba(0,0,0,.5);
}


.button--danger {
  background: #E53935;
  color: white;
}

.button--danger:hover, .button--danger:focus {
  background: #E57373;
  color: white;
}



.button--lighter {
  background: hsl(240, 8%, 40%);
}


.button--cta {
  background: hsl(255, 100%, 60%);
  color: hsla(0, 100%, 100%, .73);
}

.button--cta:hover {
  color: white;
}

.button--cta:active {
  background: hsl(255, 100%, 55%);
  color: white;
}


.button--large {
  padding: 7px 12px;
}

.button--padded {
  margin: -10px;
  padding: 15px 18px;
}


@media (min-width: 560px) {
  .button--scale {
    padding: 7px 12px;
  }

  .button--scale.button--large {
    padding: 10px 16px;
  }
}


.button--submit {
  background: #673ab7;
  color: white;
  color: rgba(255,255,255,.87);
  padding: 7px 12px;
}


.button-link {
  color: hsl(190, 80%, 70%);
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin: -5px;
}


.centered-button-container {
  margin: auto;
  text-align: center;
  padding: 10px 0;
}


/* =CARDS */

.card {
  background: hsl(240, 8%, 20%);
  margin: 10px 8px;
  position: relative;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
}

@media (min-width: 400px) {
  .card {
    margin: 10px 10px;
    padding: 10px 12px;
  }
}

.card__header {
  color: hsla(0, 0%, 100%, .4);
  padding: 0 0 5px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid hsla(0, 0%, 0%, .125);
  margin: 0 -10px;
  text-indent: 10px;
}

@media (min-width: 400px) {
  .card__header {
    margin: 0 -12px;
    text-indent: 12px;
  }
}

.card__body {
  padding-top: 10px;
}

/* =FORMS */

.form {
  width: 100%;
  background: hsl(240, 8%, 20%);
  padding: 8px;
  position: relative;
  z-index: 1; /* For FAB */
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05),
              0 2px 10px hsla(0, 0%, 0%, .2);
}

.form--focused {
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05),
              0 2px 15px hsla(0, 0%, 0%, .3);
}

.form--touches-bottom {
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05),
              0 -2px 10px hsla(0, 0%, 0%, .2);
}

.form--touches-bottom.form--focused {
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05),
              0 -2px 15px hsla(0, 0%, 0%, .3);
}

@media (min-width: 1025px) {
  .form {
    border-radius: 5px;
    padding: 11px 13px;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05),
                0 2px 10px hsla(0, 0%, 0%, .2);
  }

  .form--focused,
  .form--touches-bottom.form--focused {
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05),
                0 2px 15px hsla(0, 0%, 0%, .3);
  }
}

.form__block {
  margin: 10px 0;
}

.form__text {
  color: hsl(240, 8%, 87%);
}

.form__choice {
  display: block;
}

.form__draft {
  display: none;
  font-size: 12px;
  margin-bottom: 8px;
  text-indent: 2px;
}

.form__draft--visible {
  display: block;
}

.form__draft-recover {
  color: hsl(190, 80%, 70%);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color .1s ease-out;
          transition: color .1s ease-out;
  display: inline-block;
  margin: -8px;
  padding: 8px;
}

.form__error {
  color: #E53935;
  font-weight: bold;
}

.form__errors {
  display: none;
  color: #E53935;
  padding: 5px 2px 10px;
  font-weight: bold;
}

@media (min-width: 1025px) {
  .form__errors {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.form__errors p {
  margin: 0;
}

.form__errors.shown {
  display: block;
}

.form__topic,
.form__textarea {
  -webkit-appearance: none;
  font: 14px/1.4 -apple-system, sans-serif;
  width: 100%;
  border: 1px solid hsl(240, 8%, 15%);
  border-top-color: hsl(240, 8%, 13%);
  padding: 6px 7px;
  outline: none;
  border-radius: 3px;
  background: hsl(240, 8%, 33%);
  color: hsl(240, 8%, 87%);
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, .1),
              inset 0 2px 8px hsla(0, 0%, 0%, .5);
}

.form__topic:focus,
.form__textarea:focus {
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, .075),
              inset 0 2px 5px hsla(0, 0%, 0%, .3);
}

.is-ios .form__topic,
.is-ios .form__textarea {
  font-size: 16px; /* for iOS not to zoom on focus */
}

.form__topic {
  margin-bottom: .5em;
}

.form__textarea {
  resize: none;
  height: 147px;
}

@media (min-width: 1025px) {
  .form__topic, .form__textarea {
    font-size: 18px;
  }

  .form__topic {
    padding: 3px 10px;
  }

  .form__textarea {
    height: 170px;
    padding: 7px 10px;
  }
}

.form__actions-desktop {
  display: table;
  width: 100%;
}

@media (MAX-width: 1024px) {
  .form__actions-desktop {
    display: none;
  }

  .form__actions-desktop--also-on-mobile {
    display: table;
  }
}

.form__action {
  display: table-cell;
  width: 20%;
}

.form__action--left {
  padding-left: 2px;
  position: relative;
}

/*** Mobile action ***/

@media (MAX-width: 1024px) {
  .form--with-container {
    padding-bottom: 2px;
  }
}

@media (MAX-width: 1024px) {
  .form__container {
    width: -webkit-calc(100% - 48px);
    width:         calc(100% - 48px);
  }
}

.form__actions-mobile {
  float: right;
  width: 40px;
}

@media (min-width: 1025px) {
  .form__actions-mobile {
    display: none;
  }
}

.button-mobile-post {
  margin: -8px;
  padding: 8px;
  padding-top: 9px; /* to align it with the textarea who has a 1px border */
  background: transparent;
  border: none;
  width: 56px;
  display: block;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  cursor: pointer;
  outline: none;
}

.button-mobile-post__visible {
  display: block;
  width: 40px;
  height: 40px;
  background: hsl(0, 0%, 75%);
  border-radius: 99px;
  opacity: .1;
  position: relative; /* For box shadow to be on top of textarea */
}

.button-mobile-post__visible--ready-to-post {
  opacity: 1;
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, .25),
              inset 0 1px 0 hsl(0, 0%, 100%);
  background-image: -webkit-linear-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 80%) 50%, hsl(0, 0%, 70%) 50%, hsl(0, 0%, 60%) 100%);
  background-image:         linear-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 80%) 50%, hsl(0, 0%, 70%) 50%, hsl(0, 0%, 60%) 100%);
}

.button-mobile-post__icon {
  width: 40px;
  height: 40px;
  background: url(/images/button-post.svg) 10px center no-repeat;
  opacity: .5;
}

.button-mobile-post__visible--ready-to-post .button-mobile-post__icon {
  opacity: 1;
}

.button-mobile-post:focus .button-mobile-post__visible {
  border: 2px solid hsl(197, 72%, 74%);
}

.button-mobile-post:focus .button-mobile-post__icon {
  width: 36px;
  height: 36px;
  background-position: 8px center;
}

.button-mobile-post:active .button-mobile-post__visible {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 1);
}

.button-mobile-post__visible--sending {
  box-shadow: 0 2px 60px 5px hsl(197, 72%, 74%);
}

/*** /Mobile action ***/

.form__select {
  padding: 3px;
}

.smileys-link {
  display: inline-block;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: -10px;
  opacity: .5;
  top: 5px;
  text-align: center;
}

.smileys-link--mobile {
  top: 115px;
  right: 17px;
}

@media (min-width: 560px) { /* Pour suivre le bouton qui grossit */
  .smileys-link--desktop {
    top: 8px;
  }
}

.smileys-link:hover, .smileys-link:active {
  opacity: 1;
}

.smileys-link__box {
  display: inline-block;
  width: 31px;
  height: 31px;
  border-radius: 3px;
  background: hsl(240, 8%, 16%) url(/images/smileys.2.png) center no-repeat;
  background-size: 15px;
  box-shadow: inset 0 2px 1px hsla(0, 0%, 0%, .2),
              inset 0 -1px 0 hsla(0, 0%, 100%, .15);
  position: relative;
  top: 7px;
}

.form__action--submit {
  text-align: center;
  width: 60%;
}

/* Misc, old */

.input {
  font-size: 24px;
  border: 1px solid #9c0;
  border-radius: 1px;
  padding: 2px 5px;
  font-family: sans-serif;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(153, 204, 0, .3);
  -webkit-appearance: none; /* Permettre de changer la shadow inset d’iOS */
}

@media (min-width: 1025px) {
  .input {
    width: initial;
  }
}

.input:focus {
  background: hsl(75, 100%, 95%);
  outline: none;
}

.submit {
  border: 1px solid #ccc;
  background: #d0d0d0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(50%, #dedede), color-stop(50%, #c5c5c5));
  background: -webkit-linear-gradient(#f4f4f4 0%, #dedede 50%, #c5c5c5 50%);
  background:         linear-gradient(#f4f4f4 0%, #dedede 50%, #c5c5c5 50%);
  color: #333;
  font-weight: bold;
  border-radius: 0 5px 0 5px;
  font-size: 16px;
  padding: 5px 15px;
  text-shadow: 0 1px 10px white;
  cursor: pointer;
  -webkit-appearance: none; /* iOS 6 */
}

#editmessage {
  width: 100%;
  height: 170px;
}

.validate {
  vertical-align: middle;
  border: 1px solid #6f6f6f;
  background: #464646;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b9b9b), color-stop(50%, #949494), color-stop(50%, #595959), color-stop(50%, #464646));
  background: -webkit-linear-gradient(#9b9b9b 0%, #949494 50%, #595959 50%, #464646 100%);
  background:         linear-gradient(#9b9b9b 0%, #949494 50%, #595959 50%, #464646 100%);
  color: white;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 40px; /* Original : 60px */
  height: 34px; /* Original : 19px */
  -webkit-appearance: none; /* iOS 6 */
}

.validate:active {
  text-shadow: 0 1px 10px white;
}

/* =TOAST */

.toast {
  position: fixed;
  top: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  pointer-events: none;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: -webkit-transform .15s ease-out;
          transition: -webkit-transform .15s ease-out, transform .15s ease-out;
}

.toast--shown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.toast__label {
  display: inline-block;
  background: #FFECB3;
  color: hsla(45,110%,20%,1);
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
  border-radius: 4px;
  font-weight: bold;
  padding: 8px 10px 6px;
  cursor: default;
  pointer-events: auto;
}

/* =FORUM */

.page-title__link--with-refresh-icon {
  text-indent: 24px;
  background: url(/images/refresh.svg) 6px 15px no-repeat;
}

@media (min-width: 400px) {
  .page-title__link--with-refresh-icon {
    background-position: 6px 16px;
  }
}

@media (min-width: 1025px) {
  .page-title__link--with-refresh-icon {
    text-indent: 32px;
    background: url(/images/refresh.svg) 12px 20px no-repeat;
  }
}

/* Pagination */

.pagination-forum {
  position: relative;
  margin: 10px;
}

@media (min-width: 1025px) {
  .pagination-forum {
    margin: 10px 0;
  }
}

.pagination-forum .precedent {
  text-align: left;
  position: absolute;
}

.pagination-forum .precedent a.debut {
  display: inline-block;
  padding-left: 16px;
  background: url(/images/page_debut.3.svg) -6px no-repeat;
  margin-right: 20px;
}

.pagination-forum .precedent a.precedent-lien {
  display: inline-block;
  padding-left: 16px;
  background: url(/images/page_prec.3.svg) -8px no-repeat;
}

.pagination-forum .page {
  text-align: center;
  width: 100%;
}

.pagination-forum .page.hidden {
  visibility: hidden;
}

.pagination-forum .page span {
  background: #f60;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 5px;
}

.pagination-forum .suivant {
  text-align: right;
  position: absolute;
  right: 0;
}

.pagination-forum .suivant a {
  display: inline-block;
  padding-right: 16px;
  background: url(/images/page_suiv.3.svg) right -8px center no-repeat;
}

/* Topic list */

.liste-topics {
  background: hsl(240, 8%, 19%);
  display: table;
  width: 100%;
  margin: 10px 0;
}

@media (min-width: 1025px) {
  .liste-topics {
    border-radius: 2px;
  }
}

.topic {
  display: table-row;
}

.topic:nth-child(odd) {
  background: hsl(240, 8%, 21%);
}

.topic__new-messages-indicator {
  background: hsl(190, 80%, 60%);
  box-shadow: 0 0 3px 1px hsla(0, 100%, 100%, .4);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 99px;
  margin-right: 2px;
  margin-bottom: 1px;
}

@media (min-width: 1025px) {
  .topic__new-messages-indicator {
    width: 8px;
    height: 8px;
  }
}

.topic--visited, .topic:visited {
  color: hsl(240, 5%, 57%);
}

.topic__label {
  display: table-cell;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  height: 44px;
  width: 34px;
}

@media (min-width: 600px) {
  .topic__label {
    width: 38px;
  }
}

@media (min-width: 1025px) {
  .topic__label {
    height: 32px;
  }
}

.topic__label--dossier1 {
  background-image: url(/images/topic-list-icons/dossier1.3.svg);
}
.topic__label--dossier2 {
  background-image: url(/images/topic-list-icons/dossier2.3.svg);
}
.topic__label--lock {
  background-image: url(/images/topic-list-icons/lock.3.svg);
}
.topic__label--marque-on {
  background-image: url(/images/topic-list-icons/marque-on.3.svg);
}
.topic__label--marque-off {
  background-image: url(/images/topic-list-icons/marque-off.3.svg);
}
.topic__label--resolu {
  background-image: url(/images/topic-list-icons/resolu.3.svg);
}
.topic__label--favorite {
  background-image: url(/images/topic-list-icons/favorite.svg);
}

.topic__blacklist {
  display: table-cell;
  vertical-align: middle;
  font-style: italic;
  color: #757575;
}

.topic__text-container {
  display: table-cell;
  word-break: break-all;
  word-break: break-word;
  padding: 3px 0;
  vertical-align: middle;
}

@media (min-width: 1025px) {
  .topic__text-container {
    display: none;
  }
}

.topic__title {
  font-weight: bold;
  padding-right: 4px;
  overflow: hidden;

  /* For .topic__new-messages-indicator's shadow */
  padding-left: 3px;
  margin-left: -3px;
}

.topic__infos {
  font-size: 11px;
  padding: 1px 0 2px;
  display: table;
  width: 100%;
}

.topic__author {
  display: table-cell;
}

.topic__author--modo {
  color: #00c853;
}

.topic__author--admin,
.topic__author--staff {
  color: #D50000;
}

.topic__date-and-nb-answers-container {
  display: table-cell;
  text-align: right;
  padding-right: 8px;
}

.topic__date {
  display: inline-block;
  font-weight: bold;
}

.topic__nb-answers {
  display: inline-block;
  margin-right: 5px;
}

.topic__title--desktop,
.topic__author--desktop,
.topic__nb-answers--desktop,
.topic__date--desktop {
  display: none;
}

@media (min-width: 1025px) {
  .topic__title--desktop {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
    word-break: break-all;
    word-break: break-word;
    font-size: 15px;
    padding-right: 0;
  }

  .topic__author--desktop, .topic__nb-answers--desktop, .topic__date--desktop {
    display: table-cell;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
  }

  .topic__nb-answers {
    margin-right: 0;
  }

  .topic__date {
    text-align: center;
    font-weight: normal;
  }
}

/* =TOPIC */

/* Pagination */

.pagination-topic {
  display: table;
  margin: 1em 10px;
  width: 100%;
  width: -webkit-calc(100% - 20px);
  width:         calc(100% - 20px);
}

@media (min-width: 1025px) {
  .pagination-topic {
    margin: 1em 0;
    width: 100%;
  }
}

.pagination-topic--top {
  margin-top: 10px;
}

.pagination-topic__action-button {
  display: table-cell;
  width: 1px; /* Pour que la case reste aussi petite que possible et que celle d’a côté ai l’air plus ou moins centrée sur tablette/desktop */
}

@media (MAX-width: 1024px) {
  .pagination-topic__action-button-additional-text {
    display: none;
  }

  .pagination-topic__action-button--post {
    display: none;
  }
}

.pagination-topic__pages {
  display: table-cell;
  text-align: center;
  cursor: default;
}

.pagination-topic__page {
  display: inline-block;
  min-width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 15.2px;
  border-radius: 9em;
}

@media (min-width: 560px) {
  .pagination-topic__page {
    min-width: 44px;
    height: 44px;
    line-height: 44px;
  }
}

.pagination-topic__page + .pagination-topic__page {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 2px;
}

.pagination-topic__page-link {
  display: block;
  border-radius: 9em;
  margin: -5px;
  padding: 5px 7px;
  position: relative;
}

.pagination-topic__page-link:hover {
  background: hsla(166, 100%, 40%, .1);
}

.pagination-topic__page-link--active {
  background: hsla(166, 100%, 40%, .2);
  color: hsla(0, 0%, 100%, .73);
  font-weight: bold;
  margin: 0;
  padding: 0 2px;
}

.pagination-topic__page-link--active:hover {
  background: hsla(166, 100%, 40%, .2);
}

.pagination-topic__page-link--visited {
  color: hsl(240, 8%, 57%);
}

.pagination-topic--top .pagination-topic__page-link--last,
.pagination-topic--bottom .pagination-topic__page-link--next {
  font-weight: bold;
  font-size: 19px;
}

/* Floating post button */

.fab-post {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  font-size: 14.4px;
  letter-spacing: .5px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  color: white;
  cursor: pointer;
}

.fab-post__inner {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, .5),
              inset 0 1px 0 hsl(0, 0%, 100%);
  background: hsl(0, 0%, 75%);
  background-image: -webkit-linear-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 80%) 50%, hsl(0, 0%, 70%) 50%, hsl(0, 0%, 60%) 100%);
  background-image:         linear-gradient(hsl(0, 0%, 86%), hsl(0, 0%, 76%) 50%, hsl(0, 0%, 70%) 50%, hsl(0, 0%, 60%) 100%);
}

.fab-post__icon {
  width: 40px;
  height: 40px;
  background: url(/images/fab.svg) center no-repeat;
}

@media (min-width: 1025px) {
  .fab-post {
    display: none;
  }
}

/* Poll */

.topic-poll-notice {
  margin: 0 10px 10px;
  color: hsl(240, 8%, 60%);
}

@media (min-width: 400px) {
  .topic-poll-notice {
    margin-bottom: 11px;
  }
}

@media (min-width: 600px) {
  .topic-poll-notice {
    margin-bottom: 13px;
  }
}

@media (min-width: 1025px) {
  .topic-poll-notice {
    margin-left: 200px;
    margin-bottom: 14px;
  }
}

/* Inline quote */

.inline-quote-button {
  display: none;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.inline-quote-button--shown {
  display: inline;
}

/* =TOPIC MESSAGES */

/* List */

.messages-list {
  overflow-x: hidden;

  /* Ignored show-message button, last message’s shadow */
  padding-bottom: 10px;
  margin-bottom: -10px;
}

@media (min-width: 1025px) {
  .messages-list {
    /* Pour que la date du premier message ne soit pas coupée */
    padding-top: 8px;
    margin-top: -8px;

    /* Pour l’ombre */
    padding-right: 3px;
    margin-right: -3px;

    /* Plus d’espace pour les pseudos */
    margin-left: -30px;
  }
}

/* Message */

.message {
  margin: 0 8px 12px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1025px) {
  .message {
    margin: 0 0 14px;
    width: 100%;
  }
}

.message:last-of-type {
  margin-bottom: 0;
}

.message__visible {
  border-radius: 3px;
  background: hsl(240, 8%, 20%);
  background-image: linear-gradient(hsl(240, 8%, 25%), hsl(240, 8%, 20%) 60px);
  color: hsl(240, 8%, 87%);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15),
              0 2px 6px hsla(0, 0%, 0%, .3);
}

@media (min-width: 1025px) {
  .message__visible,
  .message:nth-of-type(odd) .message__visible {
    background: transparent;
    border-radius: none;
    box-shadow: none;
  }
}

.message__byline {
  width: 100%;
  display: table;
  margin-bottom: -10px;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .message__byline {
    width: 200px;
    display: block;
    margin-bottom: 0;
    float: left;
    direction: rtl;
  }
}

.message__end-anchor {
  position: relative;
  top: 3px;
}

/* Author */

.message__byline-author {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

@media (min-width: 400px) {
  .message__byline-author {
    padding-left: 2px;
  }
}

@media (min-width: 600px) {
  .message__byline-author {
    padding-left: 5px;
  }
}

@media (min-width: 1025px) {
  .message__byline-author {
    display: block;
    padding-left: 0;
  }
}

.message__byline-author-link {
  padding: 8px 10px 10px 10px;
  display: inline-block;
}

@media (min-width: 1025px) {
  .message__byline-author-link {
    padding: 5px 10px;
  }
}

.message__byline-author-link--no-link {
  cursor: default;
}

.message__byline-author-avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.message__byline-author-avatar::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}

@media (min-width: 400px) {
  .message__byline-author-avatar {
    margin-right: 6px;
  }
}

@media (min-width: 600px) {
  .message__byline-author-avatar {
    margin-right: 8px;
  }
}

@media (min-width: 1025px) {
  .message__byline-author-avatar {
    margin-right: 0;
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }
}

.message__byline-author-avatar-image {
  max-width: 30px;
  max-height: 30px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

@media (min-width: 1025px) {
  .message__byline-author-avatar-image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 3px;
  }
}

.message__byline-author-avatar-image--default {
  border-radius: 3px;
}

@media (min-width: 1025px) {
  .message__byline-author-avatar-image--default {
    max-width: 30px;
    max-height: 30px;
    border-radius: 4px;
  }
}

.message__byline-author-pseudo {
  color: hsl(240, 8%, 73%);
  text-shadow: 0 1px 0px hsla(0, 0%, 0%, 1);
  font-weight: bold;
  line-height: 30px;
}

@media (min-width: 1025px) {
  .message__byline-author-pseudo {
    display: inline-block; /* needed for direction */
    direction: ltr;
  }
}

.message__byline-author-pseudo--modo {
  color: #00c853;
}

.message__byline-author-pseudo--admin,
.message__byline-author-pseudo--staff {
  color: #D50000;
}

/* Date */

.message__byline-date {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
}

@media (min-width: 400px) {
  .message__byline-date {
    padding-right: 2px;
  }
}

@media (min-width: 600px) {
  .message__byline-date {
    padding-right: 5px;
  }
}

@media (min-width: 1025px) {
  .message__byline-date {
    display: block;
    padding-right: 0;
    position: absolute;
    top: -6px;
    right: 5px;
    direction: ltr;
  }
}

.message__byline-date-inline {
  cursor: pointer;
  padding: 10px;
  padding-right: 20px;
  background: url(/images/more_vert.2.svg) no-repeat right 3px center;
  color: hsl(190, 80%, 70%);
  font-size: 13px;
  vertical-align: top;
}

@media (min-width: 400px) {
  .message__byline-date-inline {
    padding-right: 22px;
  }
}

@media (min-width: 1025px) {
  .message__byline-date-inline {
    font-size: 12px;
    cursor: default;
    background: hsl(240, 8%, 24%);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05),
                0 1px 4px hsla(0, 0%, 0%, .15);
    padding: 2px 4px;
    color: hsl(240, 8%, 73%);
    border-radius: 2px;
  }
}

/* Mobile actions */

@media (MAX-width: 1024px) {
  .message {
    -webkit-transition: -webkit-transform .07s ease-out;
            transition: transform .07s ease-out, -webkit-transform .07s ease-out;
  }

  .message--nb-actions-3 {
    -webkit-transition: -webkit-transform .15s ease-out;
            transition: transform .15s ease-out, -webkit-transform .15s ease-out;
  }

  .message--nb-actions-4 {
    -webkit-transition: -webkit-transform .2s ease-out;
            transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  }

  .message--menu-opened {
    -webkit-transform: translateX(-62px);
            transform: translateX(-62px);
  }

  .message--menu-opened.message--nb-actions-3 {
    -webkit-transform: translateX(-182px);
            transform: translateX(-182px);
  }

  .message--menu-opened.message--nb-actions-4 {
    -webkit-transform: translateX(-242px);
            transform: translateX(-242px);
  }

  .message__actions {
    display: block;
  }
}

@media (MAX-width: 399px) {
  .message--menu-opened {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }

  .message--menu-opened.message--nb-actions-3 {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
  }

  .message--menu-opened.message--nb-actions-4 {
    -webkit-transform: translateX(-240px);
            transform: translateX(-240px);
  }
}

.message__actions {
  position: absolute;
  right: -72px;
}

.message__actions--nb-3 {
  position: absolute;
  right: -192px;
}

.message__actions--nb-4 {
  position: absolute;
  right: -252px;
}

@media (MAX-width: 399px) {
  .message__actions {
    right: -70px;
  }

  .message__actions--nb-3 {
    right: -190px;
  }

  .message__actions--nb-4 {
    right: -250px;
  }
}

.message__actions-action {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  vertical-align: bottom;
  margin-right: 10px;
  margin-top: 5px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-radius: 4px;
  background: hsl(240, 8%, 20%);
  background-position: center top;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: -webkit-transform .075s ease-out;
          transition: transform .075s ease-out, -webkit-transform .075s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15),
              0 2px 5px hsla(0, 0%, 0%, .25);
}

.message__actions-action:active {
    -webkit-transform: scale(.85);
            transform: scale(.85);
}

.message__actions-action--quote {
  background-image: url(/images/quote-24px.2.svg);
}

.message__actions-action--delete {
  background-image: url(/images/delete-24px.2.svg);
}

.message__actions-action--edit {
  background-image: url(/images/edit-24px.2.svg);
}

.message__actions-action--kick {
  background-image: url(/images/kick-24px.svg);
}

.message__actions-action--punish {
  background-image: url(/images/punish-24px.svg);
}

.message__actions-action--delete,
.message__actions-action--kick,
.message__actions-action--punish {
  color: #F44336;
}

/* Desktop actions */

.message__quick-actions {
  display: none;
}

@media (min-width: 1025px) {
  .message__quick-actions {
    display: block;
    position: absolute;
    bottom: -2px;
    right: 3px;
  }
}

.message__quick-action {
  width: 28px;
  height: 28px;
  cursor: pointer;
  opacity: .5;
  display: inline-block;
  margin-left: 5px;
}

.message__quick-action:hover {
  opacity: 1;
}

.message__quick-action--quote {
  background: url(/images/quote.2.svg) center no-repeat;
}

.message__quick-action--edit {
  background: url(/images/edit.2.svg) center no-repeat;
}

.message__quick-action--delete {
  background: url(/images/delete.2.svg) center no-repeat;
}

.message__quick-action--kick {
  background: url(/images/kick.svg) center no-repeat;
}

.message__quick-action--punish {
  background: url(/images/punish.svg) center no-repeat;
}

/* Blacklisted */

.message__ignored-notice {
  display: none;
  color: hsl(240, 8%, 40%);
  padding-left: 10px;
}

@media (min-width: 1025px) {
  .message__ignored-notice {
    margin-left: 200px;
  }
}

.message__ignored-notice_show-message-button {
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin: -10px;
  padding: 10px;
}

.message__ignored-notice_show-message-button:hover {
color: hsl(240, 8%, 27%);
}

.message__ignored-notice_regular {
  display: none;
}

@media (min-width: 480px) {
  .message__ignored-notice_regular {
    display: inline;
  }

  .message__ignored-notice_compact {
    display: none;
  }
}

/* Content */

.message__content {
  padding: 0 10px;
  word-wrap: break-word;
  min-height: 48px; /* A message can be empty when there’s only an unknown sticker in it */
  overflow: hidden;
}

@media (min-width: 400px) {
  .message__content {
    padding: 0 11px;
  }
}

@media (min-width: 600px) {
  .message__content {
    padding: 0 14px;
  }
}

@media (min-width: 1025px) {
  .message__content {
    margin-left: 200px;
    background: hsl(240, 8%, 20%);
    background-image: linear-gradient(hsl(240, 8%, 24%), hsl(240, 8%, 20%) 20px);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .14),
                0 2px 7px hsla(0, 0%, 0%, .3)
  }
}

.message__content-text {
  margin: 1em 0;
}

.message__content-edit-mention {
  font-size: 12px;
  margin-top: -3px;
  color: hsl(240, 8%, 53%);
}

.quote {
  margin: 1em 0;
  border-left: 3px solid rgba(96, 160, 210, 0.18);
  padding: 1px 8px;
  background: rgba(65, 78, 93, 0.4);
  color: hsl(240, 8%, 87%, .2);
  font-size: 13px;
}

.quote > p {
  margin: .5em 0;
}

.message__content-text > .pre-jv,
.message__content-text p > .code-jv,
.quote > .pre-jv,
.quote p > .code-jv {
  font-size: 95%;
  font-family: Menlo, Consolas, monospace;
  border: 1px solid hsla(0, 0%, 0%, .55);
  border-radius: 2px;
  background: hsla(0, 0%, 100%, .2);
}

.pre-jv {
  padding: .5em 7px;
  word-wrap: normal;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.code-jv {
  padding: 2px 3px;
}

.spoil {
  background: #EF5350;
  display: inline-block;
  width: 80px;
  height: 22px;
  margin: -4px 0;
  border-radius: 2px;
  overflow: hidden;
  padding: 3px;
}

.spoil--block {
  display: block;
  margin: 1em 0;
}

.spoil--revealed {
  overflow: visible;
  background: #EF9A9A;
  display: inline;
  color: hsl(240, 8%, 13%);
}

.spoil--block.spoil--revealed {
  display: block;
  width: auto;
  height: auto;
}

.spoil__content {
  display: none;
}

.spoil--revealed > .spoil__content {
  display: inline;
}

.spoil__content :first-child {
  margin-top: 0;
}

.spoil__content :last-child {
  margin-bottom: 0;
}

.noelshack-link__thumb {
  width: 68px;
  height: 51px;
  position: relative;
  top: 3px;
}

.youtube-link {
  position: relative;
  display: inline-block;
}

.youtube-link:after {
  background: url(/images/ic_play_circle_outline_white_36px.svg);
  background-size: 30px;
  opacity: .75;
  width: 30px;
  height: 30px;
  display: block;
  content: '';
  position: absolute;
  left: 25px;
  top: 10.5px;
}

.youtube-link__thumb {
  width: 80px;
  height: 45px;
  position: relative;
  top: 3px;
}

@media (min-width: 1025px) {
  .youtube-link:after {
    background: url(/images/ic_play_circle_outline_white_36px.svg);
    background-size: 36px;
    width: 36px;
    height: 36px;
    left: 30px;
    top: 12.5px;
  }

  .youtube-link__thumb {
    width: 96px;
    height: 54px;
  }
}

.youtube-link:hover:after {
  opacity: 1;
}

.smiley {
  min-width: 16px;
  min-height: 16px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .smiley {
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
}

.smiley--17 { min-height: 12px; } /* :gba: */
.smiley--69 { height: 17px; } /* :bravo: */
.smiley--nyu { height: 17px; } /* :cute: */
.smiley--2 { width: 26px; height: 24px; } /* :question: */
.smiley--54 { width: 21px; height: 20px; } /* :coeur: */
.smiley--27 { width: 23px; height: 26px; } /* :sleep: */
.smiley--36 { width: 24px; } /* :ok: */
.smiley--66 { width: 26px; height: 21px; } /* :fete: */
.smiley--60 { width: 31px; height: 24px; } /* :ange: */
.smiley--61 { width: 35px; height: 20px; } /* :diable: */
.smiley--62 { height: 27px; } /* :gni: */
.smiley--play { width: 19px; height: 28px; } /* :play: */
.smiley--65 { width: 47px; height: 39px; } /* :desole: */
.smiley--63 { width: 50px; height: 34px; } /* :spoiler: */
.smiley--58 { width: 44px; height: 40px; } /* :merci: */
.smiley--59 { width: 50px; height: 39px; } /* :svp: */
.smiley--56 { width: 50px; height: 34px; } /* :sors: */
.smiley--42 { width: 46px; height: 41px; } /* :salut: */
.smiley--38 { width: 50px; height: 34px; } /* :rechercher: */
.smiley--29 { width: 45px; height: 41px; } /* :hello: */
.smiley--44 { width: 37px; height: 42px; } /* :up: */
.smiley--48 { width: 44px; height: 42px; } /* :bye: */
.smiley--51 { width: 65px; height: 46px; } /* :gne: */
.smiley--32 { width: 37px; height: 44px; } /* :lol: */
.smiley--49 { width: 64px; height: 44px; } /* :dpdr: */
.smiley--52 { width: 58px; height: 57px; } /* :dehors: */
.smiley--64 { width: 51px; height: 32px; } /* :hs: */
.smiley--70 { width: 49px; height: 42px; } /* :banzai: */
.smiley--cimer { width: 57px; height: 36px; } /* :cimer: */
.smiley--ddb { width: 49px; height: 40px; } /* :ddb: */
.smiley--pave { width: 51px; height: 43px; } /* :pave: */
.smiley--objection { width: 54px; height: 34px; } /* :objection: */
.smiley--siffle { width: 22px; } /* :siffle: */
.smiley--loveyou { width: 64px; height: 30px; } /* :loveyou: */
.smiley--hapoelparty { width: 45px; height: 27px; } /* :hapoelparty: */

.sticker {
  width: 70px;
  height: 70px;
  cursor: pointer;
  -webkit-filter: saturate(1.4);
          filter: saturate(1.4);
}

.message__content-text > .sticker {
  width: 100px;
  height: 100px;
  top: 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (MAX-width: 1024px) {
  .sticker {
    width: 50px;
    height: 50px;
  }

  .message__content-text > .sticker {
    width: 70px;
    height: 70px;
  }
}

.sticker--duracell,
.sticker--bud {
-webkit-filter: saturate(1.2);
        filter: saturate(1.2);
}

.sticker--enlarged, .message__content-text > .sticker--enlarged {
  width: 280px;
  height: 280px;
}

.long-link:after {
  content: '[…]';
}

.long-link__hidden-part {
  position: fixed;
  left: 999em;
}
